       
.a{
    width: 150px;
    height: 40px;
    border: none;
    transition: 1000ms;
    font-size:  25px;
}
.b{
    width: 100px;
    height: 20px;
    border: none;
    transition: 1000ms;
    font-size:  25px;
}
.c{
    width: 100px;
    height: 20px;
    border: none;
    transition: 1000ms;
    font-size:  25px;
   
}



