*{
    margin: 0;
    padding: 0;
    max-width: 1450px;
    font-family: "source-code-pro",sans-serif;
   
}

.addProject-container
{
    width: 100%;
    background-color:#ebecec;
    min-height: 500px;
    
}


/* ===============blue box code ====================*/

.blueBelt-nav-container{
    background-color:#2693f8 ;
    width: 90%;
    margin: auto;
}
.blueBelt-nav>h5{
    font-size: 20px;
    font-weight: 700px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 2%;
}
.blueBelt-nav{
    margin: auto;
    width: 90%;
    background-color:#2693f8 ;
    color: white;
    padding: 2% ;

   
}
.blueBelt-nav-items
{
    
    display: flex;
    row-gap: 10px;
    align-items: left;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blueBelt-nav-items>span{
    border: 1px solid white;
    padding: 5px 6px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 18px;
   

    

}
.blueBelt-nav-items>span:hover{
    background-color:white ;
    border: 1px solid black;
    color:#2693f8;
    cursor:default;
}


/* ======buttons container code======== */

.buttons-container{

    /* border: 1px solid red; */
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
   

}
.buttons-container h5{
    font-size: 26px;
    line-height: 31px;
}

.buttons-box Button{
    background-color: #4ea819;
    font-size: 14px;
    font-weight: 600px;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    height: 40px;
    width: 125px;
    border: 1px solid #43762b;
}
.q-box{
    height: 40px;
    width: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999da1;
    color: #475056;
    cursor: pointer;

}
.buttons-box{
    display: flex;
    gap: 18px;
}


/* =====================about-project-model================ */

.about-project-model-head{
    background-color: #4ea819;
    color: white;

}
.about-project-model-content{
    /* border: 1px solid red; */
   font-size:  16px; 
   line-height: 26.5px;
}
.about-project-model-button{
    background-color: #4ea819;
    color: white;
    border: 1px solid #999da1;
    height: 40px;
    width: 74px;
}

/* ============================ADD Project PopUp Model ============================== */

